body, html {
  font-family: 'Open Sans', sans-serif;
  background: #f1f4f7;
  overflow-x: hidden;
  height: 100%;
}

strong{
  font-weight: bold;
}
.side-nav{
  background-color: #444753;
}
.side-nav li:nth-child(2){
  margin-top: 15px;
}
.no-margin{
 margin:0px;
}
.text-center{
  text-align:center !important;
  display:block !important;
}
.hidden-form{
  display:none;
}
.button-facebook{
  text-align:center;
  margin-top: 10px;
  width:100%;
}
.button-facebook{
  width: 60% !important;
  border-radius: 5px;
  height:50px !important;
  display:block;
  margin:30px auto !important;
  background-color:#3d65b4 !important;
}
.button-facebook a{
 color:#fff !important;
 vertical-align:text-top !important;
}
.button-facebook:hover{
  background-color:#366dda !important;
}
.button-facebook i{
  color:#fff;
  font-size: 1.7em;
  margin-right:8px;
}
@media all and (min-width: 1400px){
  .button-facebook{
    width: 45% !important;
  }
}
#model-id{
  position:relative;
}
.categories-container{
  width:100%;
  position:absolute;
  top:50px;
  background-color:#fff;
  z-index:3;
}
.option-category{
  display:none;
  padding:9px;
}
.option-category:hover{
  background-color:#3EA6E2;
  cursor:pointer;
}

header{
  z-index: 10000;
  position: relative;
}
nav{
  box-sizing: border-box;
  padding: 0 20px;
}

main{
  height: 100%;
  padding-left: 300px;

}

.m-0{
  margin:0px !important;
}
.mr-5{
  margin-right: 5px;
}

.no-margin{
  margin:0px !important;
}
.login-row{
  height: calc(80% - 280px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-row > .container{
  width: 100%;
}

.page-title h3{
  margin: 0px;
}

.zoom-in-icon{
  cursor: zoom-in;
}
.video-fb{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3em;
  left: 0;
  right: 0;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.83);
}

li.logo{
  height: 105px;
  background-color: rgba(19, 22, 28, 0.28);
}
li.logo #logo-container{
  height: 100%;
  line-height: initial;
  display: flex !important;
  align-items: center !important; 
  justify-content: center !important;
}

li.logo #logo-container img{
  width: 135px;
}

.title.green{
  background-color: #1ebfae;
}

.title.blue{
  background-color: #30a5ff;
}

.dark-blue-graph{
  background-color: #444753 !important;
}

.title {
  margin-top:10px;
  padding: 15px 15px 15px 0px;
  box-sizing: border-box;
  /*border-top-left-radius: 15px;*/
  margin-bottom: 25px;
  /*border-top-right-radius: 15px;*/

  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

.tabs .tab a{
  padding: 0px 20px !important;
  font-size: 12px !important;

}
form textarea{
  border-style: none;
  margin-top: 0.5em;
}
form input, form textarea{
  background-color: rgba(197,221,235,0.18);
  border-radius: 5px !important;
  border-bottom: solid 1px rgba(107,176,216,0.38) !important;
  padding-left: 15px !important;
  color: #92959E;
  box-sizing: border-box !important;
}


#other-pages form label {
  font-size: 0.9em !important;
  display: block;
  margin-bottom: 10px;
  position: relative !important;
  top: initial !important;
}


.card-row.row .col.parent{
  padding: 0px !important;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.05);
}

.page-title{
  padding: 29px !important;
  box-sizing: border-box !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title h2{
  color: #444753;
  font-size: 1.9em;
  margin: 0;
}

.page-title h3{
  color: #777a86;
  font-size: 1.5em;
  margin-top: 10px;
}

/*/////////////////VERTICALs/////////////////////////////*/


#verticals-menu .carousel{
 height:320px !important;
}
.vertical-content{
  margin-top: 15px;
}
.categories-content{
  margin-bottom: 30px; 
}

a.category-link{
  display: block;
  margin-bottom: 5px;
}
a.canasta-link{
  color: #888;
  display: block;
  color: #888;
  display: inline-block;
  margin: 4px;
  padding: 5px 10px 5px 0px;
}

a.category-link:hover, a.canasta-link:hover{
  text-decoration: underline;
}


/*///////////////////////////BRANDS//////////////////////*/
.add-brand{
  cursor: pointer;
}

i.header {
  font-size: 2em;
  color: #1565C0;
}

.container-m{
  padding: 20px;
  box-sizing: border-box;
}

.container-m #brands{
  margin-top: 20px;
}

.modal{
  border-radius: 15px !important;
  top: 25% !important;
  overflow-y: hidden !important;
}

.modal.brands{
  height: 35%;
}

.modal.fanpage{
  height: 60%;
  top: 23% !important;
}

.modal .modal-content {
  padding-top: 10px;
}

.border-radius{
  border-radius: 15px;
}

.border-radius-5{
  border-radius: 10px;
}

#other-pages .title{
  margin-bottom: 0px;
}

#other-pages .card{
  margin:0px;
  box-sizing: border-box;

}

.card{
  box-shadow: 0 2px 2px rgba(0,0,0,0.05) !important;
}

.message{
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px 5px 25px;
  border-bottom: solid 2px rgba(104, 159, 56, 0.62);
  margin-bottom: 15px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}

.message p{
  margin: 0px !important;
  color: #346708;
  margin-left: 10px;
  padding: 5px;
  display: flex;
}

ul.fanpage-nav{
  margin:0px;
}

li.fanpage-item{
  display: flex;
  border-bottom: solid 2px rgba(128, 128, 128, 0.12);
  padding: 15px 0px 15px 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width:100%;
  text-align: justify;
  text-justify: inter-word; 
}
.collapsible-header h3{
  font-size:1.2em;
  vertical-align:middle;
  margin:3px 0 5px;
}
.fa-youtube-play{
  color:red;
  vertical-align:middle;
}
.fa-facebook-square{
  color:#485A96;
  vertical-align:middle;
}
.collapsible-body{
  padding:0 !important;

}
li.fanpage-item:last-child{
  border-bottom: 0px;
}

li.fanpage-item h3{
  font-size: 1.3em;
  margin:0px;
}
li.fanpage-item h4{
  font-size: .9em;
  margin:5px 0px 5px 0px;
  width:100%;
}
.fanpage-item .analytics-info{
  width: 85%;
  display: inline-table;
}
.fanpage-item h4 a{
  display: inline-table;
}
.urlfix{
  width:80%;
  display: inline-table;

}
.row#brands .card .card-title {
  font-size: 17px;
  line-height: 1 !important;
}

.page .form .card{
  padding: 20px 0px 20px 0px;
}

.small{
  font-size: .7em;
}
.text-xs{
  font-size:0.5em;
}
.mb-0{
  margin-bottom: 0px !important;
}

.posts .card{
  min-height: 457px;
  position: relative;
  margin-top:0px;
  margin-bottom: 35px;
}

/*.posts .content{
  background: #FFF;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  height: 170px !important;
  overflow-y: auto;
  }*/

  .posts .content {
    background: #FFF;
    box-sizing: border-box;
    padding: 20px 15px 5px 15px;
  }

/*.posts .post-card{
  height:595px !important;
  margin-bottom: 15px;
  }*/

  .posts .post-card {
    height: 635px !important;
    margin-bottom: 0px;
  }

/*.posts .attachment{
  width: 100%;
  height: 225px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  }*/
  .posts .content .post-text{
    overflow-y: auto;
    height:130px;
  }
  
  .youtube-change p{
   overflow-y: auto;
   height:110px;
 }
 .content .insta-content{
   overflow-y: auto;
   height:130px
 }

 .posts .attachment{
  display:block;
  margin:0 auto;
  height:330px;
  border-bottom:solid 2px #efefef;
  overflow-y: auto;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.ml-10{
 margin-right: 10px;
}

.btn.circle-icon{
 border-radius: 50%;
 height: 40px;
 width: 40px;
 line-height: 40px;
 padding: 0px;
 position: absolute;
 right: 10px;
 top: 10px;
}
.flex{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flexbox;
 display: -o-flex;
 display: flex;
 flex: 1;
}
/*////////MIS ESTILOS*/
/*.more-icon{
  top:55px !important;
  right: 21px !important;
}
.center-add{
  display: block !important;
    margin: 0px auto !important;
    }*/
    .post-card .card-summary{
      padding:0rem 0rem 0 0rem;
    }

    .post-card .card-coms{
      width:100%;
      padding:0rem 0rem 0 0rem;
      text-align:center;
      margin-bottom:49px;
      position:relative;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content:space-between;
    }

/*    .post-card .card-coms{
      width:100%;
      padding:0rem 0rem 0 0rem;
      text-align:center;
      min-height: 457px;
      position:relative;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content:space-between;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in;
      }*/
      .post-card .card-coms .coms-info-item{
       margin:0 !important;
       font-size:2rem;
     }
     /*////////COMS NUEVO///////*/
     .post-card .card-coms .coms-info-icon{
       margin:0 !important;

       min-height: 457px;
       position:relative;
     }
     .post-card .card-coms .coms-info-icon:hover {
       cursor:pointer;
       /*background-color:#1e88e5 !important;*/
     }
     .post-card .card-coms .coms-info-icon h4{
       position: absolute;
       font-size: 1.5rem;
       top: 35%;
       left:0;
       right:0;
       margin-left:auto;
       margin-right:auto;
     }
     .post-card .card-coms .coms-info-icon h4 span{
      display:block;
    }
    .post-card .card-coms .coms-info-item i{
      padding-bottom: 8px;
      display:block;
      text-align:center;
    }
    .post-card .card-coms .coms-info-item.active{
      background-color:#1e88e5 !important;
    }
    .post-card .card-coms .coms-info-item:hover {
      cursor:pointer;
      background-color:#1e88e5 !important;
    }
    .post-card .card-coms .coms-info-item h4{
      margin:0 !important;
      font-size:1.5rem;
      padding: 21px 5px 27px 3px;
      text-align:center;
    }
    .post-card .card-coms .coms-info-item span{
      display:block;
      margin:0;
      font-size:.5rem;
      line-height:1;
    }
    /*.input-comms{
      padding:6px 5px 4px 6px !important;
      }*/
      .input-comms{
        padding: 3px 5px 6px 3px !important;  
      }
      .input-comms.contest .contest-select{
        display:inline-block;
        width:84%;
      }
      .input-comms.contest span{
        display:inline-block;
        width:15%;
        text-align:center;
        vertical-align:baseline;
      }
      .input-comms.contest i{
        font-size:2em;
        color:#1565C0;
        cursor:pointer;     
      }
      .post-card .comms-summary{
       width:100%;
       display:none;
       padding:0rem 0rem 0 0rem;
       margin-bottom:50px;
       background-color:white;
       position:relative;
       -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
       -o-transition: all .2s ease-in;
       transition: all .2s ease-in;
     }
  /*  .post-card .comms-summary{
      width:100%;
      display:none;
      padding:0rem 0rem 0 0rem;
      min-height: 457px;
      background-color:white;
      position:relative;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in;
      }*/
      .post-card .comms-summary.show-view{
       display:initial;
       width:54%;
     }
     .post-card .comms-summary-show{
       width:100%;
       padding:0rem;
       min-height:430px;
     }

     /*/////////////////////////PERFILES ////////////////////*/
     .fans-state{
      padding: 20px;
      width: 95%;
      margin: 0 auto;
    }
    .fans-state .amcharts-chart-div{
      padding:2% !important;
    }
    .fans-state .fan-state-graph{
      width:100%;
      height:350px;
    }
    /*///////////////////////TWO-FACTOR////////////////////*/
    .content-comms .post-preview{
      background-color:#fff;
      padding:0 !important;
      position:relative;
    }
    .content-comms .post-preview .post-thumbnail{
      padding:0 !important;
      text-align:left;
      border-right:2px solid #efefef;
    } 
    .content-comms .post-preview .post-thumbnail img{
      width: 55%;
      height:auto;
    }
    .content-comms .post-preview .post-summary{
     padding:2%;
     height:100%;
   }
   
   .content-comms .post-preview .post-summary p{
     text-align:left;

   }
   .content-comms .post-preview .post-summary .btn{
     position:absolute;
     right:1%;
     bottom:3%;
   }
   /*/////////////////////COMMS CHART////////////////////*/
   #share-url{
    display: inline-block;
    width: 49%;
    vertical-align:bottom;
    height:35px;
  }
  .url-box{
    display: inline-block;
    margin-top: 20px;
    width: 25%;
  }
  .url-box a{
    flex-grow: 0;
    flex-shrink: 0;
  }
  .url-box input{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px 20px !important;
    
  }
  /*///////////////////////COMMS////////////////////////*/
  
  /* .post-card .comms-summary .content-comms{
     margin: 0px auto;
     padding: 1% 3% 0% 3%;
     }*/
     .post-card .comms-summary .content-comms{
       margin: 0px auto;
       padding: 2% 3% 0% 3%;
     }
     .post-card .comms-summary .close-btn{
       position:absolute;
       top:1%;
       right:1%;
       z-index:100;
     }
     .post-card .comms-summary .close-btn:hover{
       cursor:pointer;
     }
     .comms-summary-show h2{
       font-size:1.3rem;
       margin:3% 0 10px 0;
     }
     .content-comms .comms-submit{
/*    position:absolute;
    right:0 !important;
    bottom:2%;*/
  }
  #addContest textarea{
    background-color: rgba(197,221,235,0.18) !important;
    border-radius: 5px !important;
    border-bottom: solid 1px rgba(107,176,216,0.38) !important;
    padding-left: 15px !important;
    color: #92959E;
    box-sizing: border-box !important;
    height: 110px !important;
  }
  /*///////////////*/
 /* .posts .cta{
   padding: 20px;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   font-size: 13px;
   color: #898f9c;
   position: absolute;
   width: 100%;
   bottom: 15px;
   border-top: solid 1px #E5E5E5;
   padding-top: 15px;
 }
 */
 .posts .cta{
   padding: 20px 10px 20px 10px;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   font-size: 13px;
   color: #898f9c;
   
   width: 100%;
   bottom: 15px;
   border-top: solid 1px #E5E5E5;
   padding-top: 15px;
 }

 .posts .date{
   font-size: 12px;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-between;
 }
 .posts .date a{
   color: #90949c;
 }
 .posts .date i{
   margin-right: 5px;
   font-size: 2.2em;
   color: #1565c0;
 }

 .posts .reactions, .posts .comments, .posts .shares{
   justify-content: center;
   align-items: center;
 }

 .posts .reactions img{
   margin-right: 5px;
 }

 .posts .content p{
   font-size: 14px;
   color:#1d2129;
 }

 .posts .dropdown-content li>a, .dropdown-content li>span {
   font-size: 13px;
   color: #1d2129;
   display: block;
   line-height: 13px;
   padding: 10px 16px;
   text-align:center;
 }

 .posts .dropdown-content li {
   min-height: 40px;
   line-height: 1.5rem;
 }

 .posts .dropdown-content li:hover{
   background-color: #4267b2;
 }

 .posts .dropdown-content li:hover a, .posts .dropdown-content li:hover i{
   color: #FFF;
 }

 .color-signs ul{
  display:inline-block;
}
.color-signs ul li{
 padding:6px;
 display:inline-block;
 color:#fff;
 font-size:.8em;
}

.products-selector{

}
.products-selector label{
  display:block;
}
.products-selector .control-label{
 display: inline-block;
 vertical-align: middle;
 font-size: 1em;
 margin-left: 10px;
}
.products-selector input{
  width:50%;
  margin-bottom: 0px;
}
.product-container .btn{
  padding: 0 .8rem !important;
}
.alter-input{
  background-color: transparent !important;
  border-radius: 0px !important;
  font-size: 14px !important;
}
.product-container{
  position: relative;
  padding: 10px;
}
.product-container input{
  margin:0 !important;
  width: 25%;
  padding: 0px 15px;
  font-size: 15px;
}
.product-container:hover .product-options{
 display:block;
 position:absolute;
 right:5px;
 top:6px; 
 margin:5px 0 5px 0;
}
.product-options{
  display:none;
  text-align:right;
}
.product-options a{
 display:inline-block;
 color:#626262;
 margin-left:0px;
}
.product-container:hover{
  background-color:#fff; 
}
.product-options a i{
 font-size:1.2em;
}

/*///////////////AGREGAR PRODUCTOS/////////////////////*/
.add-product{
  padding:15px !important;
}

@media all and (max-width: 1218px){
 .btn-group a.btn:nth-child(1){
  margin-left: 0px !important;
  margin-bottom: 5px;
}
}

@media (min-width:1300px) and (max-width:1400px) {
 .row#brands .card .card-title{
   font-size: 15px;
 }
 .card .card-content{
   padding: 15px;
 }
 }​

 @media all and (max-width: 1300px){

   .row .col.m3 {
    width: 50% !important;
  }

  .row .col.l4{
    width: 50% !important;
  }

  .side-nav {
    width: 245px;
  }

  .side-nav li>a>i.material-icons{
    margin: 0 15px 0 0 !important;
  }

  main {
    padding-left: 245px;
  }

  #other-pages .row .col.l8 {
    width: 50% !important;
  }
}

ul.pagination{
 text-align: center;
}

ul.pagination li{
 color: #9094a2;
}

ul.pagination li span{
 vertical-align: middle;
}

ul.pagination li.active{
 color: #FFF;
 background-color: #5890ff !important;
 padding: 0px 5px;
 border-bottom: solid 2px #1d4ba5;
}

.pagination li a {
 color: #9094a2;
 font-size: 1.1rem;
 padding: 0 10px;
}

ul.pagination li a[rel~="prev"], ul.pagination li a[rel~="next"] {
 color: #5890ff !important;
}

ul.pagination li{
 font-size: 14px;
}

ul.options{
 margin: 90px 0px 0px 0px;
 padding: 0px;
}

ul.options li{
 width: 40%;
 display: block;
 margin: 0 auto;
 padding: 20px;
 box-sizing: border-box;
}

ul.options li:nth-child(1){
 margin-bottom: 25px;
}

.border-green-bottom{
 border-bottom: solid 2px #1d6920;
}

.border-black-bottom{
 border-bottom: solid 2px #0f121b;
}

#scrap .card{
 padding: 20px;
 margin-top: 55px;
}

#scrap .progress{
 display: none; 
}
.mt-5{
 margin-top: 5px;
}

table#posts thead tr th{
 color: #525252;
 background: #dadada;
 border-radius: 0px;
 border-right: 1px #a2a2a2 solid;
 border-top: 1px #a2a2a2 solid;
 border-bottom: 1px #a2a2a2 solid;
 font-size: .98em;
}

table#posts thead tr th:first-child{
 border-left: 1px #a2a2a2 solid;
}

table#posts tbody tr td{
 font-size: .9em;
 border-right: 1px #d0d0d0 solid;
 padding: 10px;
 color: #484646;
}

table#posts tbody tr td:first-child{
 border-left: 1px #d0d0d0 solid;
}

.wrap{
 padding: 15px;
}

label{
 color:#828080 !important;
}

.side-nav li>a {
 padding: 0 32px !important;
}
.side-nav .collapsible-body ul li{
 margin:0px !important;
}


#stats h2{
 font-size: 1em;
 padding: 20px 5px 15px 15px;
 color: #FFF;
 margin:0px;
}

#stats .card{
 margin-top: 0px !important;
 padding: 12px;
}
#stats .title{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding:0px;
 height: 50px;
 margin:0px;
}

#stats ul.tabs{
 width: auto;
 margin: initial;
 height: 50px;
}

#stats .tabs .tab {
 line-height: 50px;
 height: 50px;
}

#stats .title.green .tabs .tab a {
 color: rgba(76, 175, 80, 0.63);
}

#stats .title.blue .tabs .tab a {
 color: rgba(33, 150, 243, 0.69);
}

#stats .title.green .tabs .tab a:hover, #stats .title.green .tabs .tab a.active {
 color: #4caf50;
}
#stats .title.blue .tabs .tab a:hover, #stats .title.blue .tabs .tab a.active {
 color: #2196f3;
}

#stats .title.green  .tabs .indicator {
 background-color: #4caf50;
}
#stats .title.blue  .tabs .indicator {
 background-color: #2196f3;
}

#stats canvas{
 width: 100%;
 height: 335px;
}
#stats .postChart{
 width: 100%;
 height: 500px;

}
/*////////////////GRÁFICAS////////////////*/
.adjust-list{
  margin:22px 0 0 0 !important;
}


@media all and (max-width: 1218px){
 .btn-group a.btn:nth-child(1){
  margin-left: 0px !important;
  margin-bottom: 5px;
}
#stats .postChart{
  height: 440px;
}
li.fanpage-item h4{
  font-size: .75em;
}
.adapt-youtube{
  font-size:.7em !important;  
}
}
/*ESTILOS NUEVOS*/
.no-display{
 display:none;
}
.report-selector h2{
 font-size: 1em;
 padding: 20px 5px 15px 15px;
 color: #FFF;
 margin:0px;
}

.report-selector .card{
 margin-top: 0px !important;
 padding: 12px;
}
.report-selector .title{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding:0px;
 height: 50px;
 margin:0px;
}

.report-selector ul.tabs{
 width: auto;
 margin: initial;
 height: 50px;
}

.report-selector .tabs .tab {
 line-height: 50px;
 height: 50px;
}

.report-selector .title.green .tabs .tab a {
 color: rgba(76, 175, 80, 0.63);
}

.report-selector .title.blue .tabs .tab a {
 color: rgba(33, 150, 243, 0.69);
}

.report-selector .title.green .tabs .tab a:hover, .report-selector .title.green .tabs .tab a.active {
 color: #4caf50;
 cursor:pointer;
}
.report-selector .title.blue .tabs .tab a:hover, .report-selector .title.blue .tabs .tab a.active {
 color: #2196f3;
 cursor:pointer;
}

.report-selector .title.green  .tabs .indicator {
 background-color: #4caf50;
}
.report-selector .title.blue  .tabs .indicator {
 background-color: #2196f3;
}



/*two-factor*/
.two-factor-0{ /*No hay Comms*/
  background-color:#e53935;
}
.two-factor-0:hover{ 
  background-color:#b71c1c;
}
.two-factor-1{ /*Hay two factor*/
  background-color:#fb8c00;
}
.two-factor-1:hover{ 
  background-color:#ef6c00;
}
.two-factor-2{ /*Comms con campos obligatorios*/
  /*background-color:#00897b;*/
  background-color:#00acc1;
}
.two-factor-2:hover{
  background-color:#00838f;
}

/* Label para eliminar usuarios */
.user-label{
  padding: 8px 14px 8px 8px;
  background-color: #ffffff40;
  color: #777;
  border-radius: 8px;
  position: relative;
  line-height: 2.6;
}

.removable.user-label:after {
  content: 'x';
  color: white;
  font-size: 0.8em;
  position: absolute;
  right: 5px;
  top: 0px;
  text-shadow: 0px 0px 1px #999;
}

/* Filtro Consultas */

/* The container */
.filter-screen li{
  position:relative;
}
.filter-screen .collapsible-body{
  padding: 10px !important;
  background-color:#fff;
  position:absolute;
  z-index:10;
  width:100%;
}
.filter-screen .collapsible-header{
  position: relative;
}
.filter-screen .collapsible-header i{
  position: absolute;
  right: 0;
}
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

span.filter-tag:after {
  content: 'x';
  color: white;
  font-size: 0.8em;
  position: absolute;
  right: 5px;
  top: -4px;
}
span.filter-tag:hover{
  cursor:pointer;
}
span.filter-tag {
  padding: 2px 18px 2px 8px;
  background-color: #ccc;
  border-radius: 5px;
  line-height: 2;
  margin: 5px;
  position: relative;
}

.modal.adsets{
  height: 50%;
}

.v-middle{
  vertical-align: middle;
}

.comms-filter{
  border-top: 1px solid;
  padding: 15px 8px 15px 3px;
  margin-bottom: 10px;
}

.post-card .dropdown-content {
  overflow-y: visible;
}

.post-card .dropdown-content .dropdown-content {
  margin-left: -100%;
}

.post-card .coms-info-icon .dropdown-content {
  min-width: 150px;
}

.adset-menu, .adset-submenu{
  background-color: #eceff1;
  font-weight: bold;
  font-size: 13px;

}
.adset-menu li a, .adset-submenu li a{
  padding: 10px;
  color: #263238 !important;
}
.adset-menu li:hover a, .adset-submenu li:hover a, li:hover i{
  color: inherit !important;
}

.adset-menu li a i{
  margin-right: 12px;
}

.posts .dropdown-content.adset-menu li:hover{
  background-color: #cfd8dc;
  color: #455a64;
}
.posts .dropdown-content.adset-add li:hover{
  background-color: #e0f2f1;
  color: #004d40;
}
.posts .dropdown-content.adset-remove li:hover{
  background-color: #ffebee;
  color: #b71c1c;
}
.post-card .delete-icon{
 top: 10px !important;
 left: 20px !important;
 z-index:100; 
}
